body {
    @font-face {font-family: "Amazon Ember"; src: url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.eot"); src: url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.woff") format("woff"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.svg#Amazon Ember") format("svg"); }

}


.menu-desktop {
z-index:1000;
width: 300px;
height: 100vh;
background-color: #1a1a1a;
background-image: url("https://www.transparenttextures.com/patterns/arches.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
padding-bottom: 20px;
margin-left: -15px;
}

.menu-desktop-logo {
z-index:1250;
width: 220px;
height:100px;
position:fixed;
background-color:#3c3c3c;
border-radius: 0 0 25px 25px; /* borda fundo logo */
margin-left: 25px;
top:0;}

.item {
    flex-grow: 4; /* default 0 */
  }

  .breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef0a;
    border-radius: 0.25rem;
    color:#fff;
}

.row-minha-conta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: column;
}

.breadcrumb a{
    color:#fff;
}

.barra-desktop {
    z-index:1000;
    width:100%;
    height:50px;
    position: fixed;
    background-color: #1a1a1a;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.menu-desktop ul {
    padding-left: 10px;
    padding-right: 10px;
}

.lista-msg ul {
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
}

.lista-msg li:hover {
    color:#fff;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    background-color: #1a1a1ac4;
    transition: 0.5s;
    padding:15px
}

.lista-msg .active {
    color:#fff;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    background-color: #1a1a1ac4;
    padding:15px
}

::-webkit-scrollbar {
    width: 0px;
    height: 4px;
    transition: all 0.1s linear;
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    background: #a5abb1;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #3c3c3c;
  }
  
  ::selection {
    color: #fff;
    background: #3c3c3c;
  }

  /* FOOTER */

  footer {
    background-color: #1a1a1a;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    color:#fff;
    left: 0;
    bottom: 0;
    padding-top: 10px;
    padding-bottom:10px;
  }

/* MENU DESKTOP  EFEITOS */

.menu-desktop ul {
    padding-left: 40px;
    padding-right: 40px;
}

.menu-desktop li{
    list-style: none;
    background: rgb(247,247,247);
    background: -moz-linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 50%, rgba(247,247,247,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 50%, rgba(247,247,247,1) 100%);
    background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 50%, rgba(247,247,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7",endColorstr="#f7f7f7",GradientType=1);
    border-radius: 50px 15px 50px 15px;
    padding: 15px;
    font-size: 1em;
    text-transform: capitalize;
    margin-bottom:15px;
    display:flex; /*centralizar texto */
    align-content: center; /*centralizar texto */
    justify-content: center; /*centralizar texto */
}



.menu-desktop li.active{
    color:#000;
    list-style: none;
    background: rgb(183,134,40);
    background: -moz-linear-gradient(165deg, rgba(183,134,40,1) 0%, rgba(252,194,1,1) 100%);
    background: -webkit-linear-gradient(165deg, rgba(183,134,40,1) 0%, rgba(252,194,1,1) 100%);
    background: linear-gradient(165deg, rgba(183,134,40,1) 0%, rgba(252,194,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b78628",endColorstr="#fcc201",GradientType=1);

    border-radius: 50px 15px 50px 15px;
    padding-left: 45px;
    padding-right: 35px;
    text-transform: capitalize;
    margin-bottom:15px;
}

.menu-desktop li.active:hover{
    color:#000;
    list-style: none;
    background: rgb(183,134,40);
    background: -moz-linear-gradient(165deg, rgba(183,134,40,1) 0%, rgba(252,194,1,1) 100%);
    background: -webkit-linear-gradient(165deg, rgba(183,134,40,1) 0%, rgba(252,194,1,1) 100%);
    background: linear-gradient(165deg, rgba(183,134,40,1) 0%, rgba(252,194,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b78628",endColorstr="#fcc201",GradientType=1);
    border-radius: 50px 15px 50px 15px;
    text-transform: capitalize;
    -moz-box-shadow: inset 0 0 0 #000000;
    -webkit-box-shadow: inset 0 0 0 #000000;
    box-shadow: inset 0 0 0 #000000;
    transition: 0.5s;
}

.menu-desktop li:hover {
    background: rgb(142 142 142 / 27%);
    -moz-box-shadow: inset 0 0 10px #ffffff2e;
    -webkit-box-shadow: inset 0 0 10px #ffffff2e;
    box-shadow: inset 0 0 20px #ffffff2e;
    color: #fff;
    transition: 1s;
}

.menu-desktop li a {
    color:#000;
}

.menu-desktop li:hover a {
    background: rgba(230, 213, 64, 0);
    color:#fff;
    text-decoration: none;
}


a:hover {
    color:#000;
    text-decoration: none;
}

a {
    color:#000;
    text-decoration: none;
}



.btn-diglaw:hover {
    background: rgb(183,134,40);
    background: -moz-linear-gradient(165deg, rgba(183,134,40,1) 0%, rgba(252,194,1,1) 100%);
    background: -webkit-linear-gradient(165deg, rgba(183,134,40,1) 0%, rgba(252,194,1,1) 100%);
    background: linear-gradient(165deg, rgba(183,134,40,1) 0%, rgba(252,194,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b78628",endColorstr="#fcc201",GradientType=1);


}

/* ICONES */
.fal, .far {
    font-size: 1.2em;
}

.box-conteudo {
    background-color:#fff;
    border-radius: 5px;
    margin-left:20px;
    margin-bottom: 20px; /*fix mobile margem bottom */
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
}

.box-minhaconta {
    background-color:#fff;
    border-radius: 5px;
    margin-left:20px;
    margin-bottom: 20px; /*fix mobile margem bottom */
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
}

.box-minhaconta:hover {
    border-radius: 5px;
    margin-left:20px;
    margin-bottom: 20px; /*fix mobile margem bottom */
    background: rgb(183,134,40);
    background: -moz-linear-gradient(165deg, rgba(183,134,40,1) 0%, rgba(252,194,1,1) 100%);
    background: -webkit-linear-gradient(165deg, rgba(183,134,40,1) 0%, rgba(252,194,1,1) 100%);
    background: linear-gradient(165deg, rgba(183,134,40,1) 0%, rgba(252,194,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b78628",endColorstr="#fcc201",GradientType=1);
}


.btn {
    border-radius: 50px 15px 50px 15px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5) !important;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.25) !important;
}



.btn-block {
    display: block;
    
}
/* ICONES */

.alinha-icon {
    font-family: "Font Awesome 5 Pro";
    margin-left: 10px !important;
    bottom: 13px;
    right: 40px;
    position: absolute !important;
}


.titulo {font-size:3em;}
.subtitulo{font-size:1.5em;}

.titulo-box {font-size:2em;}
.subtitulo-box {font-size:1em;}


.calendario {
    background-color:#fff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    margin: 0 0 5px 0;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:  5px;

}

.calendario:hover {
    background-color: rgba(0, 0, 0, 0.02);

}

.msg {
    background-color:#fff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    margin: 0 0 5px 0;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:  5px;

}

.msg:hover {
    background-color: rgba(0, 0, 0, 0.02);

}

.hover1:hover {
    background-color: rgba(0, 0, 0, 0.02);

}


/* PROCURA */



  input{
    border:none;
    background-color: transparent;
    border-radius: 25px;
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
      border-width:2px !important;
      border-color:#1c40aa !important;
      box-shadow: none !important;
      
  }

  .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

  
  /*Barra de pesquisa*/
  .fa-search{
    color:#1c3faa;
    position: absolute;
    z-index: 300;
    right: 15px;
    bottom: 10px;
  }

  /*Icones modal clientes */
  .fa-user{
    color:#1c3faa;
    position: absolute;
    z-index: 300;
    right: 25px;
    bottom: 17px;
  }

  .fa-envelope{
    color:#1c3faa;
    position: absolute;
    z-index: 300;
    right: 25px;
    bottom: 17px;
  }

  .fa-phone-alt{
    color:#1c3faa;
    position: absolute;
    z-index: 300;
    right: 25px;
    bottom: 17px;
  }

  .fa-user-tie{
    color:#1c3faa;
    position: absolute;
    z-index: 300;
    right: 25px;
    bottom: 17px;
  }

  .fa-registered{
    color:#1c3faa;
    position: absolute;
    z-index: 300;
    right: 25px;
    bottom: 17px;
  }

  .fa-building{
    color:#1c3faa;
    position: absolute;
    z-index: 300;
    right: 25px;
    bottom: 17px;
  }



  /* MINHA CONTA ICONES  */
