<!doctype html>
<html lang="pt-br">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet/less" type="text/css" href="styles.less" />
	<link rel="stylesheet/less" type="text/css" href="dist/styles.css" />
	<!-- <script src="//cdn.jsdelivr.net/npm/less"></script> -->
	<!-- Bootstrap CSS -->
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
	<link href="/css/custom.css" rel="stylesheet" type="text/css" media="all">
	<title>Próximos Compromissos - Diglaw</title>

	<!--dependencias seletor data-->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


	<style type="text/css" media="screen">
		#cont_conteudo {
			margin-top: 90px;
		}

		@media screen and (min-width: 1024px) {

			.calendario span:nth-child(1) {
				border-right: solid 1px #bfc0c1;
				;
				min-width: 200px;
				font-weight: 600;
			}

			.msg span:nth-child(1) {
				border-right: solid 1px #bfc0c1;
				;
				min-width: auto;
				font-weight: 600;
			}

			.msg span:nth-child(2) {
				border-right: solid 1px #bfc0c1;
				;
				min-width: 200px;
				font-weight: 600;
			}

			.msg span:nth-child(3) {
				border-right: solid 1px #bfc0c1;
				;
				min-width: 175px;
				font-weight: 600;
			}


		}
	</style>
</head>

<body style="background-color:#F1F3F5;">
	<div class="barra-desktop">
		<div class="col-lg-3 d-none d-lg-block">
			<center>
				<div class="menu-desktop-logo"><img src="/img/logo.svg" height="80px"></div>
			</center>
		</div>
		<div class="d-flex bd-highlight align-items-center" style="height: 50px;">
			<button class="btn border-0 ml-5" id="btn_open_menu">
				<i class="fa fa-navicon"></i>
			</button>
			<div class="p-2 flex-grow-1 bd-highlight"></div>
			<div class="p-2 bd-highlight" style="color: #fff;"><i class="fal fa-exclamation-circle"></i></div>
			<div class="p-2 bd-highlight mr-5" style="color: #fff;"><i class="fal fa-sign-out"></i></div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="d-none d-lg-block" style="position: fixed; top: 0; left: 0; z-index: 10;">
				<div class="menu-desktop">
					<div style="height:120px;"></div>
					<ul>
						<li><a href="/index.html"><i class="fal fa-home-lg-alt"></i> Página inícial</a></li>
						<li class="active"><a href="/clientes.html"><i class="fal fa-users"></i> Clientes</a></li>
						<li><a href="#"><i class="fal fa-exclamation-circle"></i> Pendências</a></li>
						<li><a href="#"><i class="fal fa-comments"></i> Mensagens</a></li>
						<li><a href="#"><i class="fal fa-webcam"></i> Teleconsultas</a></li>
						<li><a href="#"><i class="fal fa-boxes-alt"></i> Produtos</a></li>
						<li><a href="#"><i class="fal fa-lightbulb-exclamation"></i> Due Diligence</a></li>
						<li><a href="#"><i class="fal fa-books"></i> Conteúdos</a></li>
						<li><a href="#"><i class="fal fa-lightbulb-exclamation"></i> Plano de Negócio</a></li>
						<li><a href="/minha-conta.html"><i class="fal fa-user-circle"></i> Minha Conta</a></li>
					</ul>
				</div>
			</div>
			<div id="menu_mobile" class="d-block d-lg-none"
				style="position: fixed; top: 50px; left: -200px; z-index: 10; background-image: radial-gradient( circle farthest-corner at 30% 20%, rgba(90,92,106,1) 0%, #454b59 100% ); width: 200px; transition: 0.3s;">
				<ul class="pl-0 pr-0 pt-4 pb-2" style="list-style: none;">
					<li class="active pl-3 pr-3 pb-2 pt-3"><i class="fal fa-home-lg-alt"></i> Página inícial</li>
					<li class="pl-3 pr-3 pb-2 pt-3"><a href="clientes.html" class="text-white"><i
								class="fal fa-users"></i> Clientes</a></li>
					<li class="pl-3 pr-3 pb-2 pt-3"><a href="#" class="text-white"><i
								class="fal fa-lightbulb-exclamation"></i> Pendências</a></li>
				</ul>
			</div>
			<div class="w-100 d-flex pl-3 pr-3 pr-lg-5 pl-lg-0">

				<div class="d-none d-lg-block">
					<div class="" style="width: 320px;"></div>
				</div>
				<div id="cont_conteudo" class="w-100">

					<h1 class="titulo">AGÊNCIA DE PUBLICIDADE X LTDA. ME</h1>
					<small class="subtitulo">PVA DIGITAL > Clientes > Agência X > Detalhes > Próximos Compromissos</small>
					<hr>


					<!--STATS-->
					<div class="w-100 pl-3 pr-3 mb-4"></div>


					<div class="row">

						<div class="w-100 pl-3 pr-3 mb-3">

							<div class="m-0 p-2">

								<div class="row">
									<div class="col-8">
										<div class="row">
											<div class="w-100 pl-3 pr-3 mb-1">
												<div class="box-conteudo m-0 p-2 mb-1">
													<div
														class="col mb-3 mb-md-0 d-block d-md-flex align-items-center justify-content-between">
														<h2 class="titulo-box">Próximos Compromissos</h2>
													</div>
													<hr style="color:black;">
													<div class="w-100"></div>
													<div class="col-12 col-md-12 col-lg-12">
														<a data-toggle="modal" data-target="#ExemploModalCentralizado">
															<span class="msg d-block d-lg-flex p-0">


																<span class="pl-3 pr-3 pt-2 pb-2 d-block"><i
																		class="fal fa-edit"></i></span>
																<span
																	class="pl-3 pr-3 pt-2 pb-2 d-block text-center">06/06/2020
																	- 9:30pm</span>
																<span
																	class="pl-3 pr-3 pt-2 pb-2 d-block text-center">Loja
																	A</span>
																<span class="pl-3 pr-3 pt-2 pb-2 d-block">Pauta
																	Teleconsulta </span>

															</span>
														</a>
														<span class="msg d-block d-lg-flex p-0">
															<span class="pl-3 pr-3 pt-2 pb-2 d-block"><i
																	class="fal fa-edit"></i></span>
															<span
																class="pl-3 pr-3 pt-2 pb-2 d-block text-center">06/06/2020
																- 9:30pm
															</span>
															<span
																class="pl-3 pr-3 pt-2 pb-2 d-block text-center">Agência
																X</span>
															<span class="pl-3 pr-3 pt-2 pb-2 d-block">Informações Para
																Contato</span>
														</span>
														<span class="msg d-block d-lg-flex p-0">
															<span class="pl-3 pr-3 pt-2 pb-2 d-block"><i
																	class="fal fa-edit"></i></span>
															<span
																class="pl-3 pr-3 pt-2 pb-2 d-block text-center">06/06/2020
																- 9:30pm</span>
															<span
																class="pl-3 pr-3 pt-2 pb-2 d-block text-center">[cliente]</span>
															<span class="pl-3 pr-3 pt-2 pb-2 d-block">Solicitação de
																Teleconsulta</span>
														</span>
														<span class="msg d-block d-lg-flex p-0">
															<span class="pl-3 pr-3 pt-2 pb-2 d-block"><i
																	class="fal fa-edit"></i></span>
															<span
																class="pl-3 pr-3 pt-2 pb-2 d-block text-center">06/06/2020
																- 9:30pm</span>
															<span
																class="pl-3 pr-3 pt-2 pb-2 d-block text-center">[cliente]</span>
															<span class="pl-3 pr-3 pt-2 pb-2 d-block">Solicitação de
																Teleconsulta</span>
														</span>
														<span class="msg d-block d-lg-flex p-0">
															<span class="pl-3 pr-3 pt-2 pb-2 d-block"><i
																	class="fal fa-edit"></i></span>
															<span
																class="pl-3 pr-3 pt-2 pb-2 d-block text-center">06/06/2020
																- 9:30pm</span>
															<span
																class="pl-3 pr-3 pt-2 pb-2 d-block text-center">[cliente]</span>
															<span class="pl-3 pr-3 pt-2 pb-2 d-block">Solicitação de
																Teleconsulta</span>
														</span>
														<hr>

														<div class="row">
															<div class="col">	<a data-toggle="modal" data-target="#novo-produto"><button type="button" class="btn btn-diglaw mt-2"
																style="width: 100%;"><i class="fal fa-plus-circle"></i>
																Novo Produto</button></a></div>
															<div class="col"><a data-toggle="modal" data-target="#Nova-teleconsulta"><button type="button" class="btn btn-diglaw mt-2"
																style="width: 100%;"><i class="fal fa-plus-circle"></i>
																Nova Teleconsulta</button></a></div>
														</div>
													
															
														<div class="clearfix pb-4"></div>
													</div>
												</div>


											</div>



										</div>
									</div>
									<div class="col-4">

										<div class="row">
											<div class="w-100 pl-3 pr-3 mb-3">
												<div class="box-conteudo m-0 p-2">
													<div
														class="col mb-3 mb-md-0 d-block d-md-flex align-items-center justify-content-between">
														<h2 class="titulo-box">Suas mensagens</h2>
														<div>
															<button type="button" class="btn btn-diglaw"
																style="width: 250px;"><i
																	class="fal fa-chevron-circle-right"
																	aria-hidden="true"></i> Ver Mais</button>
														</div>
													</div>
													<hr style="color:black;">
													<div class="w-100"></div>
													<div class="col-12 col-md-12 col-lg-12">
														<div class="form-group">
															<label for="exampleFormControlTextarea1"></label>
															<textarea class="form-control"
																id="exampleFormControlTextarea1" rows="3"></textarea>
														</div>
														<div class="text-center">
															<button type="submit"
																class="btn btn-block btn-primary mb-2 text-center">Envie
																sua
																mensagem</button>
														</div>
													</div>
													<h2 class="titulo-box pl-3 mt-5">Últimas Mensagens</h2>
													<span class="msg d-block d-lg-flex p-0">
														<span class="pl-3 pr-3 pt-2 pb-2 d-block text-center">06/06/2020
															- 9:30pm</span>
														<span class="pl-3 pr-3 pt-2 pb-2 d-block"><strong>Iago</strong>:
															Dr. Favor me posicionar do contrato de trabalho que pedi
															...</span>
													</span>
													<span class="msg d-block d-lg-flex p-0">
														<span class="pl-3 pr-3 pt-2 pb-2 d-block text-center">06/06/2020
															- 9:30pm</span>
														<span class="pl-3 pr-3 pt-2 pb-2 d-block"><strong>Iago</strong>:
															Prezado, sua solicitação de contrato foi feita ,em breve
															...</span>
													</span>
													<span class="msg d-block d-lg-flex p-0">
														<span class="pl-3 pr-3 pt-2 pb-2 d-block text-center">06/06/2020
															- 9:30pm</span>
														<span class="pl-3 pr-3 pt-2 pb-2 d-block"><strong>Iago</strong>:
															Dr, devo comprar o contrato em breve como foi dito ...
														</span>
													</span>
												</div>
											</div>



										</div>



									</div>
								</div>









							</div>
						</div>

					</div>


					<!--BOXES  STATS-->

					<!--MODAL-->

<!--ADICIONAR NOVA TELECONSULTA-->

	

	<div class="modal fade" id="Nova-teleconsulta" tabindex="-1" role="dialog"
	aria-labelledby="TituloModalCentralizado" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body  text-center">

<button class="btn btn-block" id="demo"> Marcar Data/Hora </button>
<br>
<script>
	$('#demo').daterangepicker({
		"singleDatePicker": true,
		"timePicker": true,
		"startDate": "12/09/2020",
		"endDate": "12/15/2020"
	}, function (start, end, label) {
		console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
	});
</script>

<div class="input-group mb-3">
	<div class="input-group-prepend">
	  <span class="input-group-text" id="basic-addon1"><i class="fal fa-circle"></i>Responsável </span>
	</div>
	<input type="text" class="form-control" placeholder="Mariana Vilela Matheus" aria-label="Username" aria-describedby="basic-addon1">
	
  </div>

				<button type="button" class="btn btn-secondary" style="width: 100%;"
					data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>

	</div>

		<!-- MODAL NOVO PRODUTO-->

		<div class="modal fade" id="novo-produto" tabindex="-1" role="dialog"
		aria-labelledby="TituloModalCentralizado" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body  text-center">
	
	<button class="btn btn-block" id="demo2"> Marcar Data/Hora </button>
	<br>
	<script>
		$('#demo2').daterangepicker({
			"singleDatePicker": true,
			"timePicker": true,
			"startDate": "12/09/2020",
			"endDate": "12/15/2020"
		}, function (start, end, label) {
			console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
		});
	</script>

<select class="custom-select mb-2" id="validationTooltip04" style="width:100%"
required>
<option selected disabled value="">Lista de Produtos</option>
<option>PRODUTO 1</option>
<option>PRODUTO 2</option>
<option>PRODUTO 3</option>
</select>
	
	<div class="input-group mb-3">
		<div class="input-group-prepend">
		  <span class="input-group-text" id="basic-addon1"><i class="fal fa-circle"></i>Detalhes do Produto</span>
		</div>
		<input type="text" class="form-control" placeholder="Mariana Vilela Matheus" aria-label="Username" aria-describedby="basic-addon1">
		
	  </div>
	
					<button type="button" class="btn btn-secondary" style="width: 100%;"
						data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
	
		</div>

					<!-- MODAL ADICIONAR CLIENTE-->

					<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog"
						aria-labelledby="TituloModalCentralizado" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-body  text-center">

									<button type="button" class="btn btn-diglaw mb-2" style="width: 100%;"><i
											class="fal fa-times-circle"></i> Cancelar Compromisso</button>

									<a data-toggle="modal" data-target="#AlterarCompromisso"> <button type="button"
											class="btn btn-diglaw mb-2" style="width: 100%;"><i class="fal fa-edit"></i>
											Alterar Compromisso</button></a>

									<button type="button" class="btn btn-secondary" style="width: 100%;"
										data-dismiss="modal">Fechar</button>






								</div>
							</div>
						</div>

					</div>

					<!-- Alterar compromisso-->
					<div class="modal fade" id="AlterarCompromisso" tabindex="-1" role="dialog"
						aria-labelledby="TituloAlterarCompromisso" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="TituloAlterarCompromisso">Alterar compromisso</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body  text-center">



									<button class="btn btn-block" id="alterar-compromisso"> Marcar Data/Hora </button>
									<br>
									<script>
										$('#alterar-compromisso').daterangepicker({
											"singleDatePicker": true,
											"timePicker": true,
											"startDate": "12/09/2020",
											"endDate": "12/15/2020"
										}, function (start, end, label) {
											console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
										});
									</script>

									<select class="custom-select mb-2" id="validationTooltip04" style="width:100%"
										required>
										<option selected disabled value="">Tipo de compromisso</option>
										<option>Pagamentos</option>
										<option>Contratos necessários</option>
										<option>Teleconsulta</option>
									</select>

									<select class="custom-select mb-2" id="validationTooltip04" style="width:100%"
										required>
										<option selected disabled value="">Selecione Responsável</option>
										<option>Iago</option>
										<option>Fábio</option>
										<option>Mariana</option>
										<option>Horus</option>
									</select>

									<hr>

									<button type="button" class="btn btn-diglaw mb-2" style="width: 100%;"><i
											class="fal fa-save"></i> Salvar</button>







								</div>
							</div>
						</div>

					</div>


					<!-- MODAL ADICIONAR NOVO COMPROMISSO-->
					<div class="modal fade" id="AdicionarCompromisso" tabindex="-1" role="dialog"
						aria-labelledby="TituloAlterarCompromisso" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="TituloAlterarCompromisso">Alterar compromisso</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body  text-center">



									<select class="custom-select mb-2" id="validationTooltip04" style="width:100%"
										required>
										<option selected disabled value="">Tipo de compromisso</option>
										<option>Pagamentos</option>
										<option>Contratos necessários</option>
										<option>Teleconsulta</option>
									</select>

									<select class="custom-select mb-2" id="validationTooltip04" style="width:100%"
										required>
										<option selected disabled value="">Selecione Responsável</option>
										<option>Iago</option>
										<option>Fábio</option>
										<option>Mariana</option>
										<option>Horus</option>
									</select>

									<hr>

									<button type="button" class="btn btn-diglaw mb-2" style="width: 100%;"><i
											class="fal fa-save"></i> Salvar</button>







								</div>
							</div>
						</div>

					</div>
					<!--fim modal 2-->



					<!-- <div style="height:2000px;"></div> -->
				</div>
			</div>
		</div>

		<footer class="text-center p-5"
			style="margin-top:50px;color:#fff;background: linear-gradient(to top, #212121 0%, #3b3b3b 48%);">
			DigLaw - Todos Direitos Reservados
		</footer>
		<!-- Optional JavaScript; choose one of the two! -->
		<script src="https://kit.fontawesome.com/389fa9d2db.js" crossorigin="anonymous"></script>
		<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
			crossorigin="anonymous"></script>
		<!-- Option 2: jQuery, Popper.js, and Bootstrap JS
         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
         -->

		<script type="text/javascript">
			$(function () {

				$('#btn_open_menu').on('click', function () {

					if ($('#menu_mobile').css("left") == '0px') {

						$('#menu_mobile').css({ "left": "-200px" });
					} else {

						$('#menu_mobile').css({ "left": "0" });
					}
				})
			})
		</script>
</body>

</html>